<!-- <mat-toolbar class="example-toolbar">

    <span>DashBoard</span>

    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu"> {{userName}} </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="goBack()">Log Out</button>
    </mat-menu>

</mat-toolbar>

<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <mat-list-item>
            <button mat-button>DashBoard</button>
        </mat-list-item>
    </mat-drawer>
    <mat-drawer-content>
    </mat-drawer-content>
</mat-drawer-container>

<mat-toolbar class="footer"> {{date | date }} </mat-toolbar> -->