<div *ngFor="let data of getData">
    {{data.email}} {{data.password}}
</div>

<h1>Login</h1>
<form [formGroup]="login" (ngSubmit)="onSubmit()" class="example-form">

    <mat-form-field class="example-full-width">
        <mat-label>Enter a Email</mat-label>
        <input type="text" name="email" id="email" formControlName="email" matInput>
        <mat-error *ngIf="login.controls.email.hasError('required')">
            Enter a Email
        </mat-error>
        <mat-error *ngIf="login.controls.email.hasError('email')">
            Enter a proper Email
        </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input type="password" name="password" id="password" formControlName="password" matInput>
        <mat-error *ngIf="login.controls.email.hasError('required')">
            Enter a Password
        </mat-error>
    </mat-form-field>

    <div class="form-group">
        <button mat-stroked-button type="submit">Submit</button>
    </div>

</form>