.example-card {
  max-width: 400px;
  margin: 15px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-card-actions{
  justify-content: space-around;
}